.cabecalho {
    color: #fff;
    position: fixed;
    width: 100%;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: .8rem;
    padding-bottom: .75rem;
    background-color: #000000c5;
    background-image: linear-gradient(180deg, #110d06 0%, #0904139f 100%);
    
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.57);
    z-index: 3;
}

.cabecalho__logo {
    margin-bottom: .4rem;
    width: 130px
}

.cabecalho__navegacao {
    text-align: center;
}

.cabecalho__link {
    font-size: 1.1rem;

    display: inline-block;

    margin-right: .7rem;
    margin-bottom: .3rem;
    margin-left: .7rem;
}

.cabecalho__link:hover {
    color: rgb(252, 118, 28);
    transition: .4s ease-out;
}