.diferenciais {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
}

.diferenciais{
    margin-top: 5rem;
}


.diferenciais__lista {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.diferenciais__lista-sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}


.diferenciais__item {
    max-width: 350px;
    box-sizing: border-box;

}

.item__titulo {
    color: var(--cor-terciaria);
    font-weight: 700;
    font-size: 1.4rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    
}

.item__texto {
    line-height: normal;
    font-size: 1.2rem;
    background-color: rgba(245, 245, 220, 0.062);
    box-shadow: 0px 2px 5px rgb(0 0 0 / 13%);

    border-radius: 10px;
    padding: 1rem;
}

.diferenciais__botao {
    margin: 0 auto;
}


.diferenciais__titulo {
    font-weight: 700;
    font-size: 1.8rem;
    text-align: center;
  
    margin-bottom: 1.25rem;
}

.diferenciais-conteudo {
    margin-top: 10rem;
}

.diferenciais__texto {
    font-size: 1.2rem;
    padding: .5rem;
    line-height: normal;
    text-align: left;
    margin-bottom: 1rem;
    margin-top: 1rem;
}



/* secao combater */

.secao__combater {
    margin-top: 3rem;
}

.video {
    display: flex;
    justify-content: center;
    align-items: center;
}

iframe{
    width: 100vw;
    max-width:  560px;
    margin: 0 auto;

   
}

.lista__combater {
    /* padding: 6%; */
    font-size: 1.2rem;
    
}

.lista__combater-item {
    margin-bottom: 1rem;
    background-color: rgba(245, 245, 220, 0.062);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.13);
    border-radius: 10px;
    padding: 1rem;
}
